body{
    padding-top: 30px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#hero{
    width: 80%;
    margin: auto;
    background-color: rgb(61,58,71);
    color: white;
    margin-bottom: 6rem;
}
#hero h1{
    
    font-size: 40px;
}
#hero-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#adress{
    width: 80%;
    margin: auto;
    margin-bottom: 5rem;
}
#adress-head{
    height: 120px;
    width: 640px;
    background-color: rgb(61,58,71);
    padding-left: 2.5rem;
    color: white;
}
img{
    object-fit: cover;
}
#adress-wrap{
display: flex;
justify-content: space-between;
}

#adress img{
    height: 110px;
}

#boxes{
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
}
#boxes-wrap{
    color:   rgb(61,58,71);
    display: flex;
    justify-content: space-between;
}

footer{
    width: 80%;
    margin: auto;
    font-size: 18px;
    color:   rgb(61,58,71);

}